.carousel{
    margin: 100 auto;
    overflow:hidden;
    margin-top: -240px;

}


.carousel-inner{
    transition: ease 1s;
    white-space: nowrap;
    
}

.carousel-item{
    display:inline-block;
    width:100%;
}

#crouselimg{
    width: 100%;
}

.carousel-control{
    background-color: transparent;
    border:none;
    display:inline-block;
    /* position: absolute; */
    height: 50px;
    width: 70px;
    top: calc(50% - 25px);
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 160px;


    
}
.left{
    left: 0;
   
}
.right{
    right: 0;
}

.carousel-indicators{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 120px;
    /* bottom: 1.5em; */
    z-index: 2;
}

.carousel-indicators-item {
    width:15px;
    height: 15px;
    border: none;
    background: rgb(226, 14, 14);
    opacity: 0.5;
    margin:0.2em;
    border-radius: 50%;
    cursor: pointer;
}

.active{
    opacity: 1;
}