
.pagediv{
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
}

.page{
    width:200px;
    height:90px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px 4px 10px 10px;
    
}


.div1{
    height:60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#c7f6f6;

}

.div12{
    height:60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#ffefd4;

}
.div2{
    background-color: rgb(255, 255, 255);
}

#img1{
    height:160%;
    float: right;
}

#button1{
    height: 25px;
    width: 70px;
    float: left;
    margin-top: 3%;
    margin-left: 22px;
    border-style: none;
    border-radius: 6px;
    color:white;
    font-size: 10px;
    background-color: #ff8102;
    
}

.pagediv1{
    border:1px solid black;
    width:97%;
    height:50px;
    margin-top: 100px;
    margin-left: 12px;
    border-radius: 10px;
    background-color: rgb(133, 157, 188);
    border-style: none;
}

#pagediv1img1{
    height:25px;
    width:100px;
    float: left;
    margin-left: 25px;
    margin-top: 13px;
}

#pagediv1img2{
    height:78px;
    width: 100px;
    float: right;
    margin-top: -80px;
}

#pagediv1h2{
    float:left;
    margin-left: 40px;
    color: #ffffff;
    width:60%;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    
}

